<footer class="final">
    <section>                   
        <h4><a href="#">©2022 Random, Inc. All Rights Reserved.</a></h4>                     
    </section>        
    <section>                    
        <h4><a href="#">Privacy Policy</a></h4>                     
    </section>        
    <section>                  
        <h4><a href="#">Terms of Service</a></h4>                       
    </section>               
</footer>