<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">  
</head>
    <body>
    <main>
        <section id="principio">
            <header>                
             <img id="logo" src="/images2/LogoW.png" alt="">        
                <div class="navbar">
                    <span><a href="">Collections</a></span>
                    <span><a href="">Sell</a></span>
                    <span><a href="/login">Connect Wallet</a></span>
                    <span><a href="/productCart">Cart</a></span>

                </div>
            </header>  
            
            <section>
                <form id="form" role="search">
                    <input type="search" id="query" name="q"
                    placeholder="Search NFTs"
                    aria-label="Search through site content">            
                </form>
            </section>

            <section class="texto">
                <h4>Loren Ipsum</h4>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic rerum eius facilis! Minus architecto excepturi
                vitae deserunt odio dolores amet quibusdam nisi ad pariatur! Inventore aperiam impedit fuga amet accusamus?
           
            </section><h3>Discover</h3></section> 

        <section class="container-secciones">
            <h2>New Collection</h2>
            <a href="productDetail"><img src="images2/Narutohome.jpg" alt="" class="imagen"></a>
            <h2>Top collections</h2>

            <h2>Random collection</h2>
        </section>
    </main>
    <footer>
        <div class="footer-container">
            <figure><img id="imgfooter" src="/images2/LogoW.png" alt=""></figure>    
            
                <ul>
                    <li><h4>Marketplace</h4></li>
                    <li>All NFTs</li>
                    <li>New</li>
                    <li>Collections</li>
                </ul>

                <ul>
                    <li><h4>Community</h4></li>
                    <li>Social</li>
                    <li>Medias </li>    
                </ul>
        </div>  
        <section class="container-final">     
            <p>©2022 Random, Inc. All Rights Reserved.</p>        
            <p>Privacy Policy</p> 
            <p>Terms of Service</p> 
        </section>
    </footer>    
     
    </body>
</html>