<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">

    <title>Document</title>
</head>
<body>
    <main>
        <section id="principio">
            <header>                
                <img id="logo" src="/images/logo.jfif" alt="">        
            <div class="navbar">
                <span>Collections</span>
                <span>Sell</span>
                <span>Connect Wallet</span>
            </header>  
            </div>
            <section>
                <form id="form" role="search">
                    <input type="search" id="query" name="q"
                    placeholder="Search NFTs"
                    aria-label="Search through site content">            
                </form>
            </section>

            <section class="texto">
                <h4>Loren Ipsum</h4>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic rerum eius facilis! Minus architecto excepturi
                vitae deserunt odio dolores amet quibusdam nisi ad pariatur! Inventore aperiam impedit fuga amet accusamus?
            </section>
            <h3>Discover</h3>
        </section> 

        <section class="secciones">
        <h2>New Collection</h2>


        <h2>Top collections</h2>


        <h2>Random collection</h2>
    </section>
    </main>

    <footer>
        <figure>
        <img id="imgfooter" src="/images/logo.jfif" alt="">
        </figure>
   <ul>
       <li><h4>Marketplace</h4></li>
       <li>All NFTs</li>
       <li>New</li>
       <li>Collections</li>
   </ul>

   <ul>
    <li><h4>Comunnity</h4></li>
    <li>Social</li>
    <li>Medias </li>    
</ul>


    <section id="final">
        <span>©2022 Random, Inc. All Rights Reserved.</span> 
        <span>Privacy Policy</span> 
        <span>Terms of Service</span> 
    </section>
</footer>
    
</body>
</html>