<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/login.css">
        <script src="https://kit.fontawesome.com/a25985a1fb.js" crossorigin="anonymous"></script>
        <title>login</title>
      </head>
      <body class="bodylogin">
        <header>
           
                <!-- Search bar, falta ubicarlo bien
                   <div class="form" action="#" method="GET">
                      <div class="input">Buscar productos, marcas y más</div>
                      <div class="submit"><i class="fa fa-search"></i></div>
                  </div>     -->
                  
                  <nav class="navbar">
                    <div>
                        <img class="logo" src="images/LogoW.png" alt="Logo Unforged">

                    </div>
                    <a href="#" class="toggle-button">
                      <span class="bar"></span>
                      <span class="bar"></span>
                      <span class="bar"></span>
                    </a>
                    <div class="navbar-links">
                      <ul>
                        <li><a href="/productDetail">Collections</a></li>
                        <li><a href="/productCart">Cart</a></li>
                        <li><a href="/login">Sell</a></li>
                        <li><a href="/login">Connect Wallet</a></li>
                      </ul>
                    </div>
                  </nav>
              </header>

      <section class="sectionlogin">
        <login>
            <h2 class="inicio">
                Inicia sesión con:
            </h2>
                <button type="button">
                      Gmail    
                </button>
                <br></br>
                <button type="button">
                       Wallet     
                </button>
              </div>
               
            
            <h2 class="Registrarse">
                Ingresa a tu cuenta: 
            </h2>
                <div id="form">
                    <input type="email" placeholder="Email">     
                </div>
                <div id="form">
                    <input type="password" placeholder="Contraseña">     
                </div>
                
                <div class="recuerdame">
                <input id="recordarme" name="recordarme" type="checkbox" value="1" checked="checked">
                <label class="recordarme" for="recordarme">Recordarme</label>
                </div>   

                <div class="olvido">
                    <a href="#" class="textolvido">¿Olvidaste tu Contraseña?</a>
                </div>
                
                    <button type="submit" class="registro">
                        Iniciar Sesión 
                    </button>

                <div class="crearcuenta">
                    <p class="nuevacuenta">¿No tienes una cuenta?</p>
                    <a href="register" class="crear">Crear cuenta </a>
                </div>
                

        </login>
    </section>
    <footer class="final">
        <section>                   
            <h4><a href="#">©2022 Random, Inc. All Rights Reserved.</a></h4>                     
        </section>        
        <section>                    
            <h4><a href="#">Privacy Policy</a></h4>                     
        </section>        
        <section>                  
            <h4><a href="#">Terms of Service</a></h4>                       
        </section>               
    </footer>

</body>