<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/styles.css">
        <script src="https://kit.fontawesome.com/a25985a1fb.js" crossorigin="anonymous"></script>
        <title>login</title>
      </head>

<body class="bodylogin">
    <section class="sectionlogin">
        <login>
            <p class="inicio">
                Inicia sesion con:
            </p>
                <button>
                      Gmail    
                </button>
                <br></br>
                <button>
                       Wallet     
                </button>
            <p class="Registrarse">
                Registrarse
            </p>
                <div id="form">
                    <input type="text" placeholder="Nombre">     
                </div>
                <div id="form">
                    <input type="text" placeholder="Email">     
                </div>
                    <button class="registro">
                        Registrarse  
                    </button>
            <p>
        </login>
    </section>


</body>