<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/login.css">
        <link rel="stylesheet" href="/css/styles.css">
        <script src="https://kit.fontawesome.com/a25985a1fb.js" crossorigin="anonymous"></script>
        <title>login</title>
      </head>
        <!-- header --> <%- include ('./partials/header') %>
      <body class="bodylogin">

      <section class="sectionlogin">
        <login>
            <h2 class="inicio">
                Inicia sesión con:
            </h2>
                <button type="button">
                      Gmail    
                </button>
                <br></br>
                <button type="button">
                       Wallet     
                </button>
              </div>
               
            
            <h2 class="Registrarse">
                Ingresa a tu cuenta: 
            </h2>
                <div id="form">
                    <input type="email" placeholder="Email">     
                </div>
                <div id="form">
                    <input type="password" placeholder="Contraseña">     
                </div>
                
                <div class="recuerdame">
                <input id="recordarme" name="recordarme" type="checkbox" value="1" checked="checked">
                <label class="recordarme" for="recordarme">Recordarme</label>
                </div>   

                <div class="olvido">
                    <a href="#" class="textolvido">¿Olvidaste tu Contraseña?</a>
                </div>
                
                    <button type="submit" class="registro">
                        Iniciar Sesión 
                    </button>

                <div class="crearcuenta">
                    <p class="nuevacuenta">¿No tienes una cuenta?</p>
                    <a href="register" class="crear">Crear cuenta </a>
                </div>
                

        </login>
    </section>
 
    <!-- footer --> <%- include ('./partials/footer') %>

</body>