<!DOCTYPE html>
<html lang="en">
<head>
  <!-- head --> <%- include ('./partials/head') %>  
    <link rel="stylesheet" href="/css/cart.css">  
    <title>Carrito</title>
</head>
<!-- header --> <%- include ('./partials/header') %> 
<div class="container">
    <div class="heading">
      <h1>
        Carrito
      </h1>
      
      <a href="/" class="visibility-cart transition is-open">X</a>    
    </div>
    
    <div class="cart transition is-open">   
      
      
      <div class="table">
        
        <div class="layout-inline row th">
          <div class="col col-pro">Producto</div>
          <div class="col col-price align-center "> 
            Precio
          </div>
          <div class="col col-qty align-center">C</div>
          <div class="col">IVA</div>
          <div class="col">Total</div>
        </div>
        
        <div class="layout-inline row">
          
          <div class="col col-pro layout-inline">
            <img src="images/naruto.jpg" alt="" />
            <p>Producto 1</p>
          </div>
          
          <div class="col col-price col-numeric align-center ">
            <p>$59.99</p>
          </div>
  
          <div class="col col-qty layout-inline">
            <a href="#" class="qty qty-minus">-</a>
              <input type="numeric" value="3" />
            <a href="#" class="qty qty-plus">+</a>
          </div>
          
          <div class="col col-vat col-numeric">
            <p>$2.95</p>
          </div>
          <div class="col col-total col-numeric">               <p> $182.95</p>
          </div>
        </div>
        
        <div class="layout-inline row row-bg2">
  
          <div class="col col-pro layout-inline">
            <img src="images/madara.jpg" alt="" />
            <p>Producto 2</p>
          </div>
                    
          <div class="col col-price col-numeric align-center ">
            <p>$23.99</p>
          </div>
  
          <div class="col col-qty  layout-inline">
            <a href="#" class="qty qty-minus ">-</a>
              <input type="numeric" value="1" />
            <a href="#" class="qty qty-plus">+</a>
          </div>
          
          <div class="col col-vat col-numeric">
            <p>$1.95</p>
          </div>
          <div class="col col-total col-numeric">
            <p>$25.94</p>
          </div>      
        
        </div>
        
         <div class="layout-inline row">
          
          <div class="col col-pro layout-inline">
            <img src="images/sasuke.jpg" alt="" />
            <p>Producto 3</p>
          </div>
          
          <div class="col col-price col-numeric align-center ">
            <p>$59.99</p>
          </div>
  
          <div class="col col-qty layout-inline">
            <a href="#" class="qty qty-minus">-</a>
              <input type="numeric" value="3" />
            <a href="#" class="qty qty-plus">+</a>
          </div>
          
          <div class="col col-vat col-numeric">
            <p>$2.95</p>          
          </div>
           <div class="col col-total col-numeric">  
             <p>$182.95</p>
           </div>         
        </div>
    
         <div class="tf">
           <div class="row layout-inline">
             <div class="col">
               <p>IVA</p>
             </div>
             <div class="col"></div>
           </div>
           <div class="row layout-inline">
             <div class="col">
               <p>Envío</p>
             </div>
             <div class="col"></div>
           </div>
            <div class="row layout-inline">
             <div class="col">
               <p>Total</p>
             </div>
             <div class="col"></div>
           </div>
         </div>         
    </div>
      
      <a href="#" class="btn btn-update">Comprar</a>
    
  </div>
</div>
<!-- footer --> <%- include ('./partials/footer') %>   
<div class="color-fondo"></div>
</html>