<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Usuarios</title>
    <link rel='stylesheet' href='/css/style.css' />

</head>

<body>    
    <h1>LISTADO DE USUARIOS</h1>
    <ul>
        <% for( let i = 0; i < users.length; i++ ) { %>
        <li>
            <p> <%= users[i].name %></p>
            <p> <%= users[i].last_name %></p>
            <p> <%= users[i].email %></p>
            <p> <%= users[i].password %></p>
        </li>
        <% } %>

    </ul>
</body>

</html>