body {
    background-color: #0d1117;
    font-family: 'Lato', sans-serif;
}

main {
    border-style: solid;
    border-color: #4b4b4b;
    background-color: #333;
    text-align: center;
    font-size: 16px;
    color: white;
    display: flex;
    width: 55%;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    justify-content: center;
    border-radius: 10px;
}

.register-form {
    padding: 20px 15px;
    width: 100%;
}

.form-control {
    margin-bottom: 15px;
}

textarea {
    margin-bottom: 15px;
    width: 40%;
}

.form-control label{
    margin-bottom: 5px;
    font-style: italic;
    display: block;
    width: 100%;
}

.control {
    border-radius: 6px;
    margin: 0.35rem;
    height: 23px;
}

.button {
    border-radius: 7px;
  /*  -webkit-border-radius: 7px; <-- Yo no puse esto. ¿Qué carajos es esto?*/
    padding: 5px;
   /* text-decoration: #0F4C75; <--Tampoco puse esto aca*/
    font-size: 16px;
    color: white;
    width: 5rem;
    background-color: #333;
}

.button:hover{
    background-color: #0F4C75;
    transition: all 250ms;
}

/*--TABLETS--*/
@media (min-width:361px) {
    .control{
        width: 80%;
    }
    .button{
        margin: 0rem 2rem;
    }
}

/*--DESKTOP--*/
@media (min-width:769px) {
    .form-control label{
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
    }
    .button{
        margin: 0rem 3rem;
    }
}


