*{
    margin: 0;
    padding: 0;
    
}

.formcontainer{
    display: flex;    
    justify-content: center;
    color:#f7f7f7;     
    background-color: #0d1117;
}

.flex-items{
    display: flex;   
    flex-flow: column wrap;
    justify-content: center;   
    margin-bottom: 635px;
    padding: 9rem;    
}

input{    
    background-color: white;
}