*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    background-color: #0d1117;
    
}

h3{
    font-size: 24px;
    color: white;
    text-decoration: white;
}

p{
    font-size: 12px;
}


div.last-visit,
div.offers{
    display: flex;
    flex-wrap: wrap;
}

.price{
    font-size: 18px;
    width: 30%;
}

.discount{
    width: 70%;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

h4,
.description{
    color: #0d1117;
}

.description{
    display: none;
    margin-top: 20px;
}

section.banner img{
    width: 100%;
}

main{
    width: 90%;
    margin: 0 auto;
}

main section article{
    background-color: #fff;    
    margin: 10px 0px;
}

main section article img{
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

main section h3{
    margin: 20px 0px;
}

article div.main-article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}

footer article{
    text-align: center;
    margin: 15px;
    margin-left: 25%;
    margin-right: 25%;
}

footer h4{
    font-weight: bold;
    color: #0d1117;
}



footer{
 background-color: #Fff;
 text-align: center;

}
footer i{
 font-size: 2em;
 margin-bottom: 10px;
 margin-left:1em;
 margin-right: 1em;
 size: 2em;
 margin-top: 15px;
 color: #1259c3;
 }

 footer h3{
 font-size: 16px;
 margin-bottom: 0.5em;
}
footer p {
 font-size: 12px;
 margin-bottom: 10px;
 display: flex;
 justify-content: center;
}
.Price--eth-icon{
    width: 24px;
    height: 24px;
}

@media (min-width: 361px){
    main section article .description{
        display: block;
    }

    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    main section div.products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    main section div.products article{
        width: 45%;
    }

    .price,
    .discount{
        width: 50%;
    }
}

@media (min-width: 769px){
    main section div.products article{
        width: 22%;
    }
}