/*login */

.bodylogin{
    font-family: 'Lato', sans-serif;
    background-color: #0d1117;
}

.sectionlogin{
    border-style: solid;
    border-color: #4b4b4b;
    background-color: #333;
    text-align: center;
    font-size: 16px;
    display: flex;
    width: 35%;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 5%;
    justify-content: center;
    border-radius: 10px;

}
input{
    border-radius: 6px;
    margin: 0.35rem;
    height: 23px;
}
.inicio{
    padding: 10px;
    padding-bottom: 1px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Registrarse{
    border-bottom: 10px;
    color: white;
}

.registro{
    margin: 10px;
}

button{
    border-radius: 7px;
    -webkit-border-radius: 7px;
    padding: 5px;
    text-decoration: #0F4C75;
    font-size: 16px;
    color: white;
    width: 120px;
    background-color: #333;
}

button:hover{ 
background-color: #0F4C75;
transition: all 250ms;
}

#form{
    border-radius: 7px;
}

.recordarme{
    color: white;
    font-size: 13px;
}

.recuerdame{
    display: flex;
    justify-content: stretch;
    padding: 5%;
}

.olvido{
    display: flex;
    justify-content: space-around;
    padding: 1%;
}

.textolvido{
    font-size: 13px;
    color: #BBE1FA;

}

.crearcuenta{
    border-top: 0.5px;
    font-size: 13px;
    padding: 0;
    margin: 10px;
    
}

.crear{
  color: white;
}

.nuevacuenta{
    margin: 0%;
    color: #BBE1FA;
}



/*fin dek login*/





@media(max-width: 460px){
  .sectionlogin{
      margin-top: 30%;
  }
  .logo{
      width: 10%;
      height: 10%;
  }
}


