*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #0d1117 !important; /* agregue important pq sino lo pisa el navbar */
}
.container{
    width: 100%;
    height: 100vh;
    background:#0d1117;    
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    width: 380px;
    perspective: 1000px;
    cursor: pointer;
}
.card-inner{
    position: relative;
    width: 100%;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 1s;
}
.front-face{
    backface-visibility: hidden;
}
.front-face img{
    width: 100%;
    border-radius: 10px;
}
.back-face{
    backface-visibility: hidden;
    background: linear-gradient(135deg, #0d1117, #0F4C75);
    color: #fff;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transform: rotateY(180deg);
}
.back-face h2{
    font-size: 50px;
    margin-top: 10px;
    font-weight: 600;
}
.back-face p{
    font-size: 26px;
    font-weight: 300;
}
.social-media i{
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    background: #BBE1FA;
    border-radius: 50%;
    margin: 25px 6px;
}
.social-media a{
    text-decoration: none;
}
.btn{
    color: #333;
    font-size: 20px;
    text-decoration: none;
    background: #fff;
    padding: 10px 50px;
    border-radius: 25px;
    margin: 80px auto 0;
}
.card:hover .card-inner{
    transform: rotateY(-180deg);
}