body {
    background-color: rgb(27, 38, 44);
    font-family: 'Lato', sans-serif;
}

main {
    display: flex;
    background-color: rgb(50, 130, 184);
    width: 50%;
    margin: auto;
    justify-content: center;
    border-radius: 10px;
}

.register-form {
    padding: 20px 15px;
    width: 100%;
}

.form-control {
    margin-bottom: 15px;
}

.form-control label{
    margin-bottom: 5px;
    font-style: italic;
    display: block;
    width: 100%;
}

.control {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.button {
    background-color: rgb(15, 76, 117);
    border: none;
    font-size: 20px;
    color: rgb(187, 225, 250);
    padding: 5px 10px;
    border-radius: 5px;
}