*{
  font-family: 'Lato', sans-serif;
}
body {
  margin: 0;  
}
html,body{
  overflow-x: hidden;
}

.logo {
  width: 20%;
  height: 20%;
  display: flex;
  align-items: center;
  border: none;
}


.navbar {
display: flex;
position: relative;
justify-content: space-between;
align-items: center;
background-color: #333;
color: white;
}

.navbar-links {
height: 100%;
}

.navbar-links ul {
display: flex;
margin: 0;
padding: 0;
}

.navbar-links li {
list-style: none;
}

.navbar-links li a {
display: block;
text-decoration: none;
color: white;
padding: 1rem;
font-weight: bold;  
}

.navbar-links li:hover {
background-color: #0F4C75;
border-radius: 10px;
transition: all 250ms;
}

.toggle-button {
position: absolute;
top: .75rem;
right: 1rem;
display: none;
flex-direction: column;
justify-content: space-between;
width: 30px;
height: 21px;
}

.toggle-button .bar {
height: 3px;
width: 100%;
background-color: white;
border-radius: 10px;
}
/* CSS de lupa*/
header .form{
  width: 50%;
  position: absolute;
  display: flex;
  align-items: center;    
  font-size: 11px;    
 
}
header .form .input{
  background-color: #FFF;
  border: 1px solid #000;
  outline: none;
  color: #666;
  padding: 2px;
}

h2{
  color: #BBE1FA;
  left: 965px;
  top: 133px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;    
}



.final{
  display: flex;
  margin-top:26px; 
  align-items: center;    
  justify-content: space-evenly;
  color: white;
  position: relative;
  
}
.final a{   
  display: block;
  text-decoration: none;
  color: white;
  font-weight: 500; 
  transition: all 25ms;  
}

.final a:hover{    
  font-weight: bold;
  color: #BBE1FA;  
}

.color-fondo{
  background-color: transparent;
}

@media (min-width: 375px){

.navbar {
  flex-direction: column;
  align-items: flex-start;
}

.toggle-button {
  display: flex;
}

.navbar-links {
  display: none;
  width: 100%;
}

.navbar-links ul {
  width: 100%;
  flex-direction: column;
}

.navbar-links ul li {
  text-align: center;
}

.navbar-links ul li a {
  padding: .5rem 1rem;
}

.navbar-links.active {
  display: flex;
}
/* fin navbar*/

#slider{
width: 349px;
height: 198px;
margin: 10rem 0rem 15rem;

}

.fondo-sliders div a{
margin: 9rem 9rem -9rem;
}
}

@media (min-width: 630px){

#slider{
  margin: 11rem 8rem -4rem;
  
}

.fondo-sliders div a{
  margin: 9rem 22rem -9rem;
}

#slider{
  margin: 11rem 8rem -4rem;
  
}

.fondo-sliders div a{
  margin: 9rem 22rem -9rem;
}
}

@media (min-width: 800px)
/*todo esto es el navbar*/
{


#slider{
  margin: 11rem 8rem -4rem;
  width: 500px;
  height: 265px;
  
}

.fondo-sliders div a{
  margin: 9rem 22rem -9rem;
}
}

@media (min-width: 1200px){

#slider {
  position: relative;
  width: 500px;
  height: 265px;
  margin: 11rem 10rem -4rem;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);    
}
.fondo-sliders div a{
  display: block;
  text-decoration: none;
  margin: 10rem 22rem -8rem;
  color: white;
  font-weight: 500; 
  transition: all 25ms;   
  
}

#titular{
  top: 1rem;
  margin: -7rem 0rem -8rem;   
  
}

/* fix de navbar*/
.navbar-links{
  display: flex;    
  position: absolute;
}
.navbar-links ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
  font-weight: bold;  
}

.toggle-button {
  display: none;
}
}